<br /><br />
<table class="table table-bordered table-striped">
    <caption><h2><?= $this->teaching->id ?></h2></caption>
    <tr><th>ID</th><td><?= $this->teaching->id ?></td></tr>
    <tr><th>Year</th><td><?= (($this->teaching->year != NULL) ? $this->teaching->year : "N/A" ) ?></td></tr>
    <tr><th>Term</th><td><?= (($this->teaching->term != NULL) ? $this->teaching->term : "N/A" ) ?></td></tr>
    <tr><th>SCU</th><td><?= (($this->teaching->scu != NULL) ? $this->teaching->scu  : "N/A" ) ?></td></tr>
    <tr><th>Program</th><td><?= (($this->teaching->program != NULL) ? $this->teaching->program  : "N/A" ) ?></td></tr>
    <tr><th>Faculty_fid</th><td><?= (($this->teaching->faculty_fid != NULL) ? $this->teaching->faculty_fid : "N/A") ?></td></tr>
</table>
<br/>
<?php   $request = Zend_Controller_Front::getInstance()->getRequest();

        $urlArray = array("controller" => $request->getControllerName(),
            "action" => "index"
        );
        if ($request->getParam("page"))
        {
            $urlArray["page"] = $request->getParam("page");
        }
?>
<a class="btn btn-small" href="<?= $this->url($urlArray, null, TRUE); ?>"><i class="icon-arrow-left"></i> Back</a>&nbsp;&nbsp;
<?php $auth = Zend_Auth::getInstance();
        if ($auth->hasIdentity())
        {
            echo '<a href=' . $this->url(array(
                "controller" => $request->getControllerName(),
                "action" => "update",
                "teaching"=> $this->teaching->id
            )) . ' class="btn btn-small"><i class="icon icon-pencil"></i> Edit</a>';
        }
?>
-->