<script type="text/Javascript">
    $(function(){$('#field').remoteChained("#table", "/Search/getFields");});
</script>
<form class="form-horizontal" method="post">
    <fieldset>
        <legend>Advanced Search</legend>
        <div class="control-group">
            <label class="control-label" for="table">Search on table : </label>
            <div class="controls">
                <select name="table" id="table">
                    <option value="">--</option>
                    <option value="Faculty">Faculty</option>
                    <option value="Ic">Research records</option>
                    <option value="Research">Journal</option>
                    <option value="Scu">Teaching records</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="field">On field : </label>
            <div class="controls">
                <select name="field" id="field">
                    <option value="">--</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="text" name="q" id="q" placeholder="Query"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn"><i class="icon-search"></i> Search</button>
            </div>
        </div>
    </fieldset>
    <?php if (isset($this->results)): ?>
        <fieldset>
            <legend>Results</legend>
            <?php foreach ($this->results as $key => $result): ?>
                <h3 class="text-center">Result n# <?= $key ?></h3>
                <table class="table table-bordered">
                    <?php $cols = $result->getColumnsList();
                    foreach ($cols as $value):
                        ?>
                        <tr><th><?= $value ?></th><td><?= $result->$value ?></td>
                <?php endforeach; ?>
                </table>
        <?php endforeach; ?>
        </fieldset>
<?php endif; ?>
</form>
