<script type="text/Javascript">
    $(function(){$('#dob').datepicker({format: 'yyyy-mm-dd'});});
    $(function(){$('#date_hired').datepicker({format: 'yyyy-mm-dd'});});
</script>
<?php if (isset($this->success) || isset($this->error)): ?>
<div class="alert <?= ($this->error ? 'alert-error' : 'alert-success') ?>">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong><?= ($this->error ? 'Error !' : 'Success !') ?></strong> <?= ($this->error ? $this->error : $this->success) ?>
</div>
<?php endif; ?>
<?= $this->facultyForm; ?>
<?php $request = Zend_Controller_Front::getInstance()->getRequest(); 
$urlArray = array ("controller" => $request->getControllerName(),
        "action" => "index"
    );
if ($request->getParam("page"))
{
    $urlArray["page"] = $request->getParam("page");
}
?>
<a class="btn btn-small" href="<?= $this->url($urlArray, null, TRUE); ?>"><i class="icon-arrow-left"></i> Back</a>