<script type="text/javascript">

    function deleteRow(row) {
        <?php
        $urlArray = array(
            'controller'    =>  'Faculty',
            'action'        =>  'delete'
            );
        ?>
        $('#deleteButton').attr('onclick', 'deleteRowConfirmed(' + row + ');');
        $('#deleteModal').modal('show');
        $('.alert').hide();
    }
    
    function deleteRowConfirmed(row) {
        $('#deleteButton').button('loading');
        alert('<?= $this->url($urlArray, null, true) ?>/faculty/' + row);
        $.get('<?= $this->url($urlArray, null, true) ?>/faculty/' + row, function(data){
            if (data == row) {
                $('#deleteButton').button('reset');
                $('#deleteModal').modal('hide');
                document.location.reload();
            }
            else {
                $('.alert').alert();
                $('.alert').show();
                $('#deleteButton').button('reset');
            }
        });
    }
    
    function getdigits (s) {
        return s.replace (/[^\d]/g, "");
    }


    $(document).ready(function() {
        $('#deleteModal').modal({
            show: false
         });
        $("#facultySearch").typeahead({
            minLength: 3,
            source: function(query, process) {
                $.post('/Faculty/typeahead', { q: query, limit: 8 }, function(data) {
                    process(JSON.parse(data));
                });
            },
            updater: function (item) {
                var facultyID = getdigits(item);
                document.location = ('/Faculty/read/faculty/' + facultyID);
            }
        });
    });
</script>
<div class="modal hide fade" id="deleteModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Confirm Delete</h3>
  </div>
  <div class="modal-body">
        <div class="alert alert-block alert-danger fade in" hidden="hidden">
        <p>Can't delete the faculty. Try again later.</p>
        </div>
    <p>This will permanently delete this faculty !</p>
  </div>
  <div class="modal-footer">
    <a class="btn" data-dismiss="modal" aria-hidden="true" >Cancel</a>
    <a href="#" class="btn btn-danger" id="deleteButton">Delete</a>
  </div>
</div>
<form class="navbar-search pull-left">
    <input type="text" class="search-query" id="facultySearch" autocomplete="off" placeholder="Search">
    <?php if ($this->authentication()->hasIdentity()): ?>
    <a class="btn btn-small" href=<?= $this->url(array(
                        "controller"    =>  "Faculty",
                        "action"        =>  "create"
        )) ?>><i class="icon-user"></i> Add new Faculty</a>
    <?php endif;?>
</form>
<br /><br /><br />
<?php if (count($this->paginator)): ?>
<table class="table table-striped table-bordered table-hover">
    <thead><th>ID</th><th>Name</th><th>Rank</th><th>Actions</th></thead>
    <tbody>
        <?php foreach ($this->paginator as $faculty): ?>
            <tr>
                <td><?= $faculty->fid; ?></td>
                <td><?= $faculty->last . " " . $faculty->first ?></td>
                <td><?= $faculty->rank ?></td>
                <td>
                    <?php if ($this->authentication()->hasIdentity()): ?>
                    <div class="btn-group btn-mini">
                        <a class="btn btn-mini" href=<?= $this->url(array(
                        "controller"    =>  "Faculty",
                        "action"        =>  "read",
                        "faculty"       =>  $faculty->fid
                    )) ?>><i class="icon-user"></i> Faculty</a>
                        <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href=<?= $this->url(array(
                        "controller"    =>  "Faculty",
                        "action"        =>  "update",
                        "faculty"       =>  $faculty->fid
                    )) ?>><i class="icon-pencil"></i> Edit</a></li>
<!--                            <li><a href="#" onclick="Javascript:deleteRow(<?= $faculty->fid ?>)"><i class="icon-trash"></i> Delete</a></li>-->
                        </ul>
                    </div>
                    <?php else : ?>
                    <a class="btn btn-mini" href=<?= $this->url(array(
                        "controller"    =>  "Faculty",
                        "action"        =>  "read",
                        "faculty"       =>  $faculty->fid
                    )) ?>><i class="icon-user"></i> Faculty</a>
                    <?php endif; ?>
                </td>
            </tr>
        <?php endforeach; ?>
    </tbody>
</table>
<?php endif; ?>

<?php echo $this->paginationControl($this->paginator,
                                    'Sliding',
                                    'my_pagination_control.phtml'); ?>