<br /><br />
<table class="table table-bordered table-striped">
    <caption><h2><?= $this->faculty->first . " " . $this->faculty->last ?></h2></caption>
    <tr><th>ID</th><td><?= $this->faculty->fid ?></td></tr>
    <tr><th>First Name</th><td><?= (($this->faculty->first != NULL) ? $this->faculty->first : "N/A" ) ?></td></tr>
    <tr><th>Last Name</th><td><?= (($this->faculty->last != NULL) ? $this->faculty->last : "N/A" ) ?></td></tr>
    <tr><th>Date of Birth</th><td><?= (($this->faculty->dob != NULL) ? $this->faculty->dob  : "N/A" ) ?></td></tr>
    <tr><th>Rank</th><td><?= (($this->faculty->rank != NULL) ? $this->faculty->rank  : "N/A" ) ?></td></tr>
    <tr><th>Time base</th><td><?= ($this->faculty->time_base == 'pt' ? "Part Time" : "Full Time") ?></td></tr>
    <tr><th>Department</th><td><?= (($this->faculty->dept != NULL) ? $this->faculty->dept  : "N/A" ) ?></td></tr>
    <tr><th>AQG, AQ, PQ</th><td><?= (($this->faculty->aqg_aq_pq != NULL) ? $this->faculty->aqg_aq_pq  : "N/A" ) ?></td></tr>
    <tr><th>P_S</th><td><?= (($this->faculty->p_s != NULL) ? $this->faculty->p_s  : "N/A" ) ?></td></tr>
    <tr><th>Date hired</th><td><?= (($this->faculty->date_hired != NULL) ? $this->faculty->date_hired  : "N/A" ) ?></td></tr>
</table>
<br/>
<?php   $request = Zend_Controller_Front::getInstance()->getRequest();

        $urlArray = array("controller" => $request->getControllerName(),
            "action" => "index"
        );
        if ($request->getParam("page"))
        {
            $urlArray["page"] = $request->getParam("page");
        }
?>
<a class="btn btn-small" href="<?= $this->url($urlArray, null, TRUE); ?>"><i class="icon-arrow-left"></i> Back</a>&nbsp;&nbsp;
<?php $auth = Zend_Auth::getInstance();
        if ($auth->hasIdentity())
        {
            echo '<a href=' . $this->url(array(
                "controller" => $request->getControllerName(),
                "action" => "update",
                "faculty"=> $this->faculty->fid
            )) . ' class="btn btn-small"><i class="icon icon-pencil"></i> Edit</a>';
        }
?>