<?php if ($this->loginForm->hasErrors()): ?>
<div class="alert alert-error">
    <?php foreach($this->loginForm->getErrorMessages() as $error): ?>
    <strong><?php print_r($error) ?></strong><br/>
    <?php endforeach; ?>
</div>
<?php endif; ?>
<?= $this->loginForm; ?>