<script type="text/javascript">

    function deleteRow(row) {
        <?php
        $urlArray = array(
            'controller'    =>  'Admin',
            'action'        =>  'delete'
            );
        ?>
        $('#deleteButton').attr('onclick', 'deleteRowConfirmed(' + row + ');');
        $('#deleteModal').modal('show');
        $('.alert').hide();
    }
    
    function deleteRowConfirmed(row) {
        $('#deleteButton').button('loading');
        $.get('<?= $this->url($urlArray, null, true) ?>/user/' + row, function(data){
            if (data == row) {
                $('#deleteButton').button('reset');
                $('#deleteModal').modal('hide');
                document.location.reload();
            }
            else {
                $('.alert').alert();
                $('.alert').show();
                $('#deleteButton').button('reset');
            }
        });
    }
</script>
<div class="modal hide fade" id="deleteModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Confirm Delete</h3>
  </div>
  <div class="modal-body">
        <div class="alert alert-block alert-danger fade in" hidden="hidden">
        <p>Can't delete the user. Try again later.</p>
        </div>
    <p>This will permanently delete this user !</p>
  </div>
  <div class="modal-footer">
    <a class="btn" data-dismiss="modal" aria-hidden="true" >Cancel</a>
    <a href="#" class="btn btn-danger" id="deleteButton">Delete</a>
  </div>
</div>
    <?php if ($this->authentication()->hasIdentity()): ?>
    <a class="btn btn-small" href=<?= $this->url(array(
                        "controller"    =>  "Admin",
                        "action"        =>  "create"
        )) ?>><i class="icon-user"></i> Add new User</a>
    <?php endif;?>
<br /><br /><br />
<?php if (count($this->paginator)): ?>
<table class="table table-striped table-bordered table-hover">
    <thead><th>ID</th><th>Username</th><th>Email</th><th>Date Created</th><th>Last connection</th><th></th></thead>
    <tbody>
        <?php foreach ($this->paginator as $user): ?>
            <tr>
                <td><?= $user->idusers; ?></td>
                <td><?= $user->username; ?></td>
                <td><?= $user->email ?></td>
                <td><?= $user->date_created; ?></td>
                <td><?= $user->date_connected; ?></td>
                <td><a class="btn btn-mini btn-danger" href="#" onclick="Javascript:deleteRow(<?= $user->idusers ?>)"><i class="icon-trash"></i> Delete</a></td>
            </tr>
        <?php endforeach; ?>
    </tbody>
</table>
<?php endif; ?>

<?php echo $this->paginationControl($this->paginator,
                                    'Sliding',
                                    'my_pagination_control.phtml'); ?>