<script type="text/javascript">
    $(document).ready(function() {
        $("#facultyName").typeahead({
            minLength: 3,
            source: function(query, process) {
                $.post('/Faculty/typeahead', { q: query, limit: 8 }, function(data) {
                    process(JSON.parse(data));
                });
            },
            updater: function (item) {
                var words = item.split("(");
                var facultyId = words[1].split(")")[0];
                $("#faculty_fid").val(facultyId);
                return words[0];
            }
        });
        
        $(function(){
            $('#year').datepicker({format: 'yyyy',
                                        viewMode: 'years',
                                        minViewMode: 'years'});
            $('#year').datepicker('setValue', '2013');
        });
    });
</script>
<?php if (isset($this->success) || isset($this->error)): ?>
<div class="alert <?= ($this->error ? 'alert-error' : 'alert-success') ?>">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong><?= ($this->error ? 'Error !' : 'Success !') ?></strong> <?= ($this->error ? $this->error : $this->success) ?>
</div>
<?php endif; ?>
<?= $this->researchForm; ?>
<?php $request = Zend_Controller_Front::getInstance()->getRequest(); 
$urlArray = array ("controller" => $request->getControllerName(),
        "action" => "index"
    );
if ($request->getParam("page"))
{
    $urlArray["page"] = $request->getParam("page");
}
?>
<a class="btn btn-small" href="<?= $this->url($urlArray, null, TRUE); ?>"><i class="icon-arrow-left"></i> Back</a>