<script type="text/javascript">
    $('#deleteModal').modal({
        show: false
    });

    function deleteRow(row) {
        <?php $page = Zend_Controller_Front::getInstance()->getRequest()->getParam("page");
        $urlArray = array(
            'controller'    =>  'Research',
            'action'        =>  'delete'
            );
        if (isset($page)) { $urlArray['page'] = $page; } ?>
        $('#deleteButton').attr('onclick', 'deleteRowConfirmed(' + row + ');');
        $('#deleteModal').modal('show');
        $('.alert').hide();
    }
    
    function deleteRowConfirmed(row) {
        $('#deleteButton').button('loading');
        $.get('<?= $this->url($urlArray, null, true) ?>/research/' + row, function(data){
            if (data) {
                $('#deleteButton').button('reset');
                $('#deleteModal').modal('hide');
                document.location.reload();
            }
            else {
                $('.alert').alert();
                $('.alert').show();
                $('#deleteButton').button('reset');
            }
        });
    
    }
    
    function getdigits (s) {
        return s.replace (/[^\d]/g, "");
    }


    $(document).ready(function() {
        $('#deleteModal').modal({
            show: false
         });
        $("#researchSearch").typeahead({
            minLength: 3,
            source: function(query, process) {
                $.post('/Research/typeahead', { q: query, limit: 8 }, function(data) {
                    process(JSON.parse(data));
                });
            },
            updater: function (item) {
                var facultyID = getdigits(item);
                document.location = ('/Research/read/research/' + facultyID);
            }
        });
    });
</script>
<div class="modal hide fade" id="deleteModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Confirm Delete</h3>
  </div>
  <div class="modal-body">
        <div class="alert alert-block alert-danger fade in" hidden="hidden">
        <p>Can't delete the research. Try again later.</p>
        </div>
    <p>This will permanently delete this research !</p>
  </div>
  <div class="modal-footer">
    <a class="btn" data-dismiss="modal" aria-hidden="true" >Cancel</a>
    <a href="#" class="btn btn-danger" id="deleteButton">Delete</a>
  </div>
</div>
<form class="navbar-search clearfix">
    <input type="text" id="researchSearch" class="search-query" placeholder="Search">
    <?php if ($this->authentication()->hasIdentity()): ?>
    <a class="btn btn-small" href=<?= $this->url(array(
                        "controller"    =>  "Research",
                        "action"        =>  "create"
        )) ?>><i class="icon-user"></i> Add new Research Record</a>
    <?php endif; ?>
</form>
<br /><br /><br />
<?php if (count($this->paginator)): ?>
<table class="table table-striped table-bordered table-hover">
    <thead><th>ID</th><th>Name</th><th>Year</th><th>Title</th></thead>
    <tbody>
        <?php foreach ($this->paginator as $research): ?>
            <tr>
                <td><?= $research->id; ?></td>
                <td><?= $research->researchName ?></td>
                <td><?= $research->year ?></td>
                <td><?= $research->title ?></td>
                <td>
                    <?php if ($this->authentication()->hasIdentity()): ?>
                    <div class="btn-group btn-mini">
                        <a class="btn btn-mini" href=<?= $this->url(array(
                        "controller"    =>  "Research",
                        "action"        =>  "read",
                        "research"       =>  $research->id
                    )) ?>><i class="icon-book"></i> Research</a>
                        <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href=<?= $this->url(array(
                        "controller"    =>  "Research",
                        "action"        =>  "update",
                        "research"       =>  $research->id
                    )) ?>><i class="icon-pencil"></i> Edit</a></li>
<!--                            <li><a href="#" onclick="Javascript:deleteRow(<?= $research->id ?>)"><i class="icon-trash"></i> Delete</a></li>-->
                        </ul>
                    </div>
                    <?php else : ?>
                    <a class="btn btn-mini" href=<?= $this->url(array(
                        "controller"    =>  "Research",
                        "action"        =>  "read",
                        "research"       =>  $research->id
                    )) ?>><i class="icon-book"></i> Research</a>
                    <?php endif; ?>
                </td>
            </tr>
        <?php endforeach; ?>
    </tbody>
</table>
<?php endif; ?>

<?php echo $this->paginationControl($this->paginator,
                                    'Sliding',
                                    'my_pagination_control.phtml'); ?>