<br /><br />
<table class="table table-bordered table-striped">
    <caption><h2><?= $this->research->research_name ?></h2></caption>
    <tr><th>ID</th><td><?= $this->research->id ?></td></tr>
    <tr><th>Name</th><td><?= (($this->research->research_name != NULL) ? $this->research->research_name : "N/A" ) ?></td></tr>
    <tr><th>Year</th><td><?= (($this->research->year != NULL) ? $this->research->year  : "N/A" ) ?></td></tr>
    <tr><th>Title</th><td><?= (($this->research->title != NULL) ? $this->research->title  : "N/A" ) ?></td></tr>
    <tr><th>Faculty author</th><td>
    <?php if ($this->research->getFacultyFid() != NULL)
    {
        $faculty = $this->research->getFacultyF();
        echo $faculty->getFullName();
    }
    else { echo "N/A"; }
    ?></td></tr>
</table>
<br/><br/>
<?php $request = Zend_Controller_Front::getInstance()->getRequest(); 
$urlArray = array ("controller" => $request->getControllerName(),
        "action" => "index"
    );
if ($request->getParam("page"))
{
    $urlArray["page"] = $request->getParam("page");
}
?>
<a class="btn btn-small" href="<?= $this->url($urlArray, null, TRUE); ?>"><i class="icon-arrow-left"></i> Back</a>