<!-- application/layouts/scripts/layout.phtml -->
<?php echo $this->doctype() ?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <?php 
  echo $this->headTitle();
  echo $this->headLink();
  echo $this->headScript(); ?>
  <style type="text/css">
      .loggedAs {
      padding: 9px 15px 12px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
  </style>
</head>
<body>

    <div class="container">

      <div class="masthead">
        <p><h3 class="muted" style="display:inline">CSULB CBA Academic Information System</h3>
            <span class="pull-right loggedAs"><?= $this->loggedInAs() ?></span></p>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                  <!-- class="active" to be the current page -->
                <li <?php echo (Zend_Controller_Front::getInstance()->getRequest()->getControllerName() == 'index' ? 'class="active"' : null) ?>><a href="<?php echo $this->url(array(), null, TRUE); ?>"><i class="icon-home"></i> Home</a></li>
                <li <?php echo (Zend_Controller_Front::getInstance()->getRequest()->getControllerName() == 'Faculty' ? 'class="active"' : null) ?>><a href="<?php echo $this->url(array('controller' => 'Faculty'), null, TRUE); ?>">Faculty information</a></li>
                <li <?php echo (Zend_Controller_Front::getInstance()->getRequest()->getControllerName() == 'Research' ? 'class="active"' : null) ?>><a href="<?php echo $this->url(array('controller' => 'Research'), null, TRUE); ?>">Research records</a></li>
                <li <?php echo (Zend_Controller_Front::getInstance()->getRequest()->getControllerName() == 'Journal' ? 'class="active"' : null) ?>><a href="<?php echo $this->url(array('controller' => 'Journal'), null, TRUE); ?>">Journal Listing</a></li>
                <li <?php echo (Zend_Controller_Front::getInstance()->getRequest()->getControllerName() == 'Teaching' ? 'class="active"' : null) ?>><a href="<?php echo $this->url(array('controller' => 'Teaching'), null, TRUE); ?>">Teaching records</a></li>
                <li <?php echo (Zend_Controller_Front::getInstance()->getRequest()->getControllerName() == 'Search' ? 'class="active"' : null) ?>><a href="<?php echo $this->url(array('controller' => 'Search'), null, TRUE); ?>">Advanced Search</a></li>
                <?php if ($this->authentication()->hasIdentity()): ?>
                <li <?php echo (Zend_Controller_Front::getInstance()->getRequest()->getControllerName() == 'Admin' ? 'class="active"' : null) ?>><a href="<?php echo $this->url(array('controller' => 'Admin'), null, TRUE); ?>">Administration</a></li>
                <?php endif; ?>
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>
 
    <?php echo $this->layout()->content ?>
    </div>
    <footer class="footer">
        <div class="container">

        <p class="text-center"><small>Website developed by Epitech students from IS-340. Contact <a href="mailto:nupur.shah@csulb.edu">Nupur Shah</a> for more informations.</small></p>
        </div>
    </footer>
</body>
</html>