<script type="text/javascript">

    function deleteRow(row) {
<?php
$urlArray = array(
    'controller' => 'Journal',
    'action' => 'delete'
);
?>
        $('#deleteButton').attr('onclick', 'deleteRowConfirmed(' + row + ');');
        $('#deleteModal').modal('show');
        $('.alert').hide();
    }

    function deleteRowConfirmed(row) {
        $('#deleteButton').button('loading');
        alert('<?= $this->url($urlArray, null, true) ?>/journal/' + row);
        $.get('<?= $this->url($urlArray, null, true) ?>/journal/' + row, function(data) {
            if (data == row) {
                $('#deleteButton').button('reset');
                $('#deleteModal').modal('hide');
                document.location.reload();
            }
            else {
                $('.alert').alert();
                $('.alert').show();
                $('#deleteButton').button('reset');
            }
        });
    }

    function getdigits(s) {
        return s.replace(/[^\d]/g, "");
    }


    $(document).ready(function() {
        $('#deleteModal').modal({
            show: false
        });
        $("#journalSearch").typeahead({
            minLength: 3,
            source: function(query, process) {
                $.post('/Journal/typeahead', {q: query, limit: 8}, function(data) {
                    process(JSON.parse(data));
                });
            },
            updater: function(item) {
                var journalID = getdigits(item);
                document.location = ('/Journal/read/journal/' + journalID);
            }
        });
    });
</script>
<div class="modal hide fade" id="deleteModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Confirm Delete</h3>
    </div>
    <div class="modal-body">
        <div class="alert alert-block alert-danger fade in" hidden="hidden">
            <p>Can't delete the journal. Try again later.</p>
        </div>
        <p>This will permanently delete this journal !</p>
    </div>
    <div class="modal-footer">
        <a class="btn" data-dismiss="modal" aria-hidden="true" >Cancel</a>
        <a href="#" class="btn btn-danger" id="deleteButton">Delete</a>
    </div>
</div>
<form class="navbar-search pull-left">
    <input type="text" class="search-query" id="journalSearch" autocomplete="off" placeholder="Search">
    <?php if ($this->authentication()->hasIdentity()): ?>
    <a class="btn btn-small" href=<?=
    $this->url(array(
        "controller" => "Journal",
        "action" => "create"
    ))
    ?>><i class="icon-user"></i> Add new Journal</a>
    <?php endif; ?>
</form>
<br /><br /><br />
<?php if (count($this->paginator)): ?>
    <table class="table table-striped table-bordered table-hover">
        <thead><th>ID</th><th>Name</th><th>Discipline</th><th>Classification</th><th>Actions</th></thead>
    <tbody>
        <?php foreach ($this->paginator as $journal): ?>
            <tr>
                <td><?= $journal->rid; ?></td>
                <td><?= $journal->research_name ?></td>
                <td><?= $journal->discipline ?></td>
                <td><?= $journal->classification ?></td>


                <td>
                    <?php if ($this->authentication()->hasIdentity()): ?>
                        <div class="btn-group btn-mini">
                            <a class="btn btn-mini" href=<?=
                            $this->url(array(
                                "controller" => "Journal",
                                "action" => "read",
                                "journal" => $journal->rid
                            ))
                            ?>><i class="icon-user"></i> Journal</a>
                            <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href=<?=
                                    $this->url(array(
                                        "controller" => "Journal",
                                        "action" => "update",
                                        "journal" => $journal->rid
                                    ))
                                    ?>><i class="icon-pencil"></i> Edit</a></li>
            <!--                            <li><a href="#" onclick="Javascript:deleteRow(<?= $journal->rid ?>)"><i class="icon-trash"></i> Delete</a></li>-->
                            </ul>
                        </div>
                    <?php else : ?>
                        <a class="btn btn-mini" href=<?=
                        $this->url(array(
                            "controller" => "Journal",
                            "action" => "read",
                            "journal" => $journal->rid
                        ))
                        ?>><i class="icon-user"></i> Journal</a>
                    <?php endif; ?>
                </td>
            </tr>
        <?php endforeach; ?>
    </tbody>
    </table>
<?php endif; ?>

<?php
echo $this->paginationControl($this->paginator, 'Sliding', 'my_pagination_control.phtml');
?>