<br /><br />
<table class="table table-bordered table-striped">
    <caption><h2><?= $this->journal->research_name ?></h2></caption>
    <tr><th>ID</th><td><?= $this->journal->rid ?></td></tr>
    <tr><th>Research Name</th><td><?= $this->journal->research_name ?></td></tr>
    <tr><th>Discipline</th><td><?= $this->journal->discipline ?></td></tr>
    <tr><th>Classification</th><td><?= $this->journal->classification ?></td></tr>
    <tr><th>Date added</th><td><?= (($this->journal->date_added != NULL) ? $this->journal->date_added : "N/A" ) ?></td></tr>
    <tr><th>Prior classification</th><td><?= (($this->journal->prior_classification != NULL) ? $this->journal->prior_classification : "N/A" ) ?></td></tr>
    <tr><th>H index</th><td><?= (($this->journal->h_index != NULL) ? $this->journal->h_index : "N/A" ) ?></td></tr>
    <tr><th>G index</th><td><?= (($this->journal->g_index != NULL) ? $this->journal->g_index : "N/A" ) ?></td></tr>
    <tr><th>Abs rank</th><td><?= (($this->journal->abs_rank != NULL) ? $this->journal->abs_rank : "N/A" ) ?></td></tr>
    <tr><th>Abcd rank</th><td><?= (($this->journal->abdc_rank != NULL) ? $this->journal->abdc_rank : "N/A" ) ?></td></tr>
    <tr><th>Start year</th><td><?= (($this->journal->start_year != NULL) ? $this->journal->start_year : "N/A" ) ?></td></tr>
    <tr><th>Average cites</th><td><?= (($this->journal->average_cites != NULL) ? $this->journal->average_cites : "N/A" ) ?></td></tr>
    <tr><th>Ssci 2003</th><td>
            <?php
            if ($this->journal->getSsci() != NULL)
            {
                $ssci = $this->journal->getSsci();
                echo $ssci->getSsci2003();
            }
            ?>
    <tr><th>Ssci 2004</th><td>
            <?php
            if ($ssci != NULL)
            {
                echo $ssci->getSsci2004();
            }
            ?>
    <tr><th>Ssci 2005</th><td>
            <?php
            if ($ssci != NULL)
            {
                echo $ssci->getSsci2005();
            }
            ?>
    <tr><th>Ssci 2006</th><td>
            <?php
            if ($ssci != NULL)
            {
                echo $ssci->getSsci2006();
            }
            ?>
    <tr><th>Ssci 2007</th><td>
            <?php
            if ($ssci != NULL)
            {
                echo $ssci->getSsci2007();
            }
            ?>
    <tr><th>Ssci 2008</th><td>
            <?php
            if ($ssci != NULL)
            {
                echo $ssci->getSsci2008();
            }
            ?>
    <tr><th>Ssci 2009</th><td>
            <?php
            if ($ssci != NULL)
            {
                echo $ssci->getSsci2009();
            }
            ?>
    <tr><th>Ssci 2009 5year</th><td>
            <?php
            if ($ssci != NULL)
            {
                echo $ssci->getSsci20095year();
            }
            ?>
</table>
<br/>
<?php
$request = Zend_Controller_Front::getInstance()->getRequest();

$urlArray = array("controller" => $request->getControllerName(),
    "action" => "index"
);
if ($request->getParam("page"))
{
    $urlArray["page"] = $request->getParam("page");
}
?>
<a class="btn btn-small" href="<?= $this->url($urlArray, null, TRUE); ?>"><i class="icon-arrow-left"></i> Back</a>&nbsp;&nbsp;
<?php
$auth = Zend_Auth::getInstance();
if ($auth->hasIdentity())
{
    echo '<a href=' . $this->url(array(
        "controller" => $request->getControllerName(),
        "action" => "update",
        "journal" => $this->journal->rid
    )) . ' class="btn btn-small"><i class="icon icon-pencil"></i> Edit</a>';
}
?>